<main>
  <article>
    <h1>Movies Catalog</h1>
    <p>A list of movies, genres and directors. Check it out.</p>

      <ul>
        <li><%= link_to 'Movie Genres', movie_genres_path %></li>
        <li>Movies Directors</li>
        <li>Movies</li>
      </ul>
  </article>
</main>
