<h1>Editing movie director</h1>

<%= render "form", movie_director: @movie_director %>

<br>

<div>
  <%= link_to "Show this movie director", @movie_director %> |
  <%= link_to "Back to movie directors", movie_directors_path %>
</div>
