<div id="<%= dom_id movie_genre %>">
  <p>
    <strong>Name:</strong>
    <%= movie_genre.name %>
  </p>

  <p>
    <strong>Related Directors:</strong>
    <%= movie_genre.movie_directors.find_all.map(&:name).join(', ') %>
  </p>

</div>
